:root {
    --color-agenda-grey: #e6e9e9;
    --layout-agenda-cell-height: 36px;
    --layout-agenda-cell-width: 2fr;
}


/*** BEGIN agenda ***/
.agenda-wrapper {
	background-color: #F4F4F4;
	background-color: var(--color-light-grey);
    padding-bottom: 100px;
}

.timeline-mobile { display: none; }
@media (max-width: 768px){
    .timeline-mobile { display: block; }
    .timeline-desktop { display: none; }
}
.agenda-timeline {
    max-width: 840px;
    margin-top: 2rem;
}

.agenda-wrapper h2 {
	margin-top: 2rem;
}

.h2-gold {
	background-color: #FFCC00;
    background-color: var(--color-secondary-yellow);
    display: inline-block;
    padding: 4px 6px;
}

.agenda-wrapper h3 {
	margin-top: 1rem;
}
.agenda-wrapper p {
    margin-top: 8px !important;
    padding: 0;
}

.agenda-wrapper p {
	width: 80%;
	margin-top: 1rem;
    color: #222121;
	color: var(--color-grey-h3-normal);
}

@media (max-width: 992px){
	.agenda-wrapper .p {
		width: 100%;
	}
}

.agenda-time-incell {
    font-size: .8rem;
}

.agenda.desktop {
    margin-top: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns:
        [times] 6em
        [day-1] 2fr
        [day-2] 2fr
        [day-3] 2fr;
    grid-template-columns: 
        [times] 6em
        [day-1] var(--layout-agenda-cell-width)
        [day-2] var(--layout-agenda-cell-width)
        [day-3] var(--layout-agenda-cell-width);
    -ms-grid-rows:
        [dates] 4em
        [time-0900] 36px
        [time-1000] 36px
        [time-1100] 36px
        [time-1200] 36px
        [time-1300] 36px
        [time-1400] 36px
        [time-1500] 36px
        [time-1600] 36px
        [time-1700] 36px
        [time-1800] 36px
        [time-1900] 36px
        [time-2000] 36px
        [time-2100] 36px
        [time-2200] 36px
        [time-2300] 36px
        [time-2400] 36px
        [time-0100] 36px;
    grid-template-rows:
        [dates] 4em
        [time-0900] var(--layout-agenda-cell-height)
        [time-1000] var(--layout-agenda-cell-height)
        [time-1100] var(--layout-agenda-cell-height)
        [time-1200] var(--layout-agenda-cell-height)
        [time-1300] var(--layout-agenda-cell-height)
        [time-1400] var(--layout-agenda-cell-height)
        [time-1500] var(--layout-agenda-cell-height)
        [time-1600] var(--layout-agenda-cell-height)
        [time-1700] var(--layout-agenda-cell-height)
        [time-1800] var(--layout-agenda-cell-height)
        [time-1900] var(--layout-agenda-cell-height)
        [time-2000] var(--layout-agenda-cell-height)
        [time-2100] var(--layout-agenda-cell-height)
        [time-2200] var(--layout-agenda-cell-height)
        [time-2300] var(--layout-agenda-cell-height)
        [time-2400] var(--layout-agenda-cell-height)
        [time-0100] var(--layout-agenda-cell-height);
}

.agenda.mobile { 
    display: none;
    margin-top: 0 !important;
}
.agenda-day { display: none; }

@media (max-width: 768px) {
    .agenda.desktop { display: none; }
    .agenda-day {
        display: flex;
        justify-content: center;
    }
    .agenda.mobile.d1 {
        display: -ms-grid;
        display: grid;
        grid-template-columns: 
            [times] 6em
            [day-1] var(--layout-agenda-cell-width);
        grid-template-rows:
            [time-0900] var(--layout-agenda-cell-height)
            [time-1000] var(--layout-agenda-cell-height)
            [time-1100] var(--layout-agenda-cell-height)
            [time-1200] var(--layout-agenda-cell-height)
            [time-1300] var(--layout-agenda-cell-height)
            [time-1400] var(--layout-agenda-cell-height)
            [time-1500] var(--layout-agenda-cell-height)
            [time-1600] var(--layout-agenda-cell-height)
            [time-1700] var(--layout-agenda-cell-height)
            [time-1800] var(--layout-agenda-cell-height)
            [time-1900] var(--layout-agenda-cell-height)
            [time-2000] var(--layout-agenda-cell-height)
            [time-2100] var(--layout-agenda-cell-height)
            [time-2200] var(--layout-agenda-cell-height)
            [time-2300] var(--layout-agenda-cell-height)
            [time-2400] var(--layout-agenda-cell-height)
            [time-0100] var(--layout-agenda-cell-height);
    }


    .agenda.mobile.d2 {
        display: grid;
        grid-template-columns: 
            [times] 6em
            [day-2] var(--layout-agenda-cell-width);
        grid-template-rows:
            [time-0900] var(--layout-agenda-cell-height)
            [time-1000] var(--layout-agenda-cell-height)
            [time-1100] var(--layout-agenda-cell-height)
            [time-1200] var(--layout-agenda-cell-height)
            [time-1300] var(--layout-agenda-cell-height)
            [time-1400] var(--layout-agenda-cell-height)
            [time-1500] var(--layout-agenda-cell-height)
            [time-1600] var(--layout-agenda-cell-height)
            [time-1700] var(--layout-agenda-cell-height)
            [time-1800] var(--layout-agenda-cell-height)
            [time-1900] var(--layout-agenda-cell-height)
            [time-2000] var(--layout-agenda-cell-height)
            [time-2100] var(--layout-agenda-cell-height)
            [time-2200] var(--layout-agenda-cell-height)
            [time-2300] var(--layout-agenda-cell-height)
            [time-2400] var(--layout-agenda-cell-height)
            [time-0100] var(--layout-agenda-cell-height);
    }


    .agenda.mobile.d3 {
        display: grid;
        grid-template-columns: 
            [times] 6em
            [day-3] var(--layout-agenda-cell-width);
        grid-template-rows:
            [time-0900] var(--layout-agenda-cell-height)
            [time-1000] var(--layout-agenda-cell-height)
            [time-1100] var(--layout-agenda-cell-height)
            [time-1200] var(--layout-agenda-cell-height)
            [time-1300] var(--layout-agenda-cell-height)
            [time-1400] var(--layout-agenda-cell-height)
            [time-1500] var(--layout-agenda-cell-height)
            [time-1600] var(--layout-agenda-cell-height)
            [time-1700] var(--layout-agenda-cell-height)
            [time-1800] var(--layout-agenda-cell-height)
            [time-1900] var(--layout-agenda-cell-height)
            [time-2000] var(--layout-agenda-cell-height)
            [time-2100] var(--layout-agenda-cell-height)
            [time-2200] var(--layout-agenda-cell-height)
            [time-2300] var(--layout-agenda-cell-height)
            [time-2400] var(--layout-agenda-cell-height)
            [time-0100] var(--layout-agenda-cell-height);
    }
}

.item {
    margin: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item.bottom {
    align-items: flex-end;
    padding-bottom: 25px;
}
.item-blue {
	color: #FFCC00;
    color: var(--color-secondary-yellow);
    background-color: #003399;
    background-color: var(--color-primary-blue);
}
.item-grey {
    color: #222121;
    color: var(--color-grey-h3-normal);
    background-color: #e6e9e9;
    background-color: var(--color-agenda-grey);
}
.item-lgrey {
    color: #222121;
    background-color: #a2bff7;
}
/* Layout - columns */
.item-date {
    -ms-grid-row: dates;
    grid-row: dates;
    font-weight: bold;
    color: #222121;
    color: var(--color-grey-h3-normal);
}
.date-d1 {
    -ms-grid-column: 2;
    grid-column: day-1;
}
.date-d2 {
    -ms-grid-column: 3;
    grid-column: day-2;
}
.date-d3 {
    -ms-grid-column: 4;
    grid-column: day-3;
}
.date-d3-mobile {
    grid-column-start: 1;
    grid-column-end: 2;
}
/* Layout - rows */
.item-time {
    -ms-grid-column: 1;
    grid-column: times;
    color: #222121;
    color: var(--color-grey-h3-normal);
    background-color: #e6e9e9;
    background-color: var(--color-agenda-grey);
    font-size: 85%;
    margin: 4px;
    -ms-grid-row-span: 1;
}
.time-t09 {
    -ms-grid-row: 2;
    grid-row: time-0900 / time-1000;
}
.time-t10 {
    -ms-grid-row: 3;
    grid-row: time-1000 / time-1100;
}
.time-t11 {
    -ms-grid-row: 4;
    grid-row: time-1100 / time-1200;
}
.time-t12 {
    -ms-grid-row: 5;
    grid-row: time-1200 / time-1300;
}
.time-t13 {
    -ms-grid-row: 6;
    grid-row: time-1300 / time-1400;
}
.time-t14 {
    -ms-grid-row: 7;
    grid-row: time-1400 / time-1500;
}
.time-t15 {
    -ms-grid-row: 8;
    grid-row: time-1500 / time-1600;
}
.time-t16 {
    -ms-grid-row: 9;
    grid-row: time-1600 / time-1700;
}
.time-t17 {
    -ms-grid-row: 10;
    grid-row: time-1700 / time-1800;
}
.time-t18 {
    -ms-grid-row: 11;
    grid-row: time-1800 / time-1900;
}
.time-t19 {
    -ms-grid-row: 12;
    grid-row: time-1900 / time-2000;
}
.time-t20 {
    -ms-grid-row: 13;
    grid-row: time-2000 / time-2100;
}
.time-t21 {
    -ms-grid-row: 14;
    grid-row: time-2100 / time-2200;
}
.time-t22 {
    -ms-grid-row: 15;
    grid-row: time-2200 / time-2300;
}
.time-t23 {
    -ms-grid-row: 16;
    grid-row: time-2300 / time-0100;
}

/* Items */
.item-d1-1 {
    -ms-grid-column: 2;
    grid-column: day-1;
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: time-1700 / time-1800;
}
.item-d1-2 {
    -ms-grid-column: 2;
    grid-column: day-1;
    -ms-grid-row: 11;
    -ms-grid-row-span: 1;
    grid-row: time-1800 / time-1900;
}
.item-d1-3 {
    -ms-grid-column: 2;
    grid-column: day-1;
    -ms-grid-row: 12;
    -ms-grid-row-span: 5;
    grid-row: time-1900 / time-2400;
}
.item-d1-4 {
    -ms-grid-column: 2;
    grid-column: day-1;
    -ms-grid-row: 14;
    -ms-grid-row-span: 1;
    grid-row: time-2100 / time-2200;
}
.item-d2-all {
    -ms-grid-column: 3;
    grid-column: day-2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 17;
    grid-row: time-0900 / time-2400;
}
.item-d2-1 {
    -ms-grid-column: 3;
    grid-column: day-2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: time-0900 / time-1000;
}
.item-d2-2 {
    -ms-grid-column: 3;
    grid-column: day-2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: time-1000 / time-1200;
}
.item-d2-3 {
    -ms-grid-column: 3;
    grid-column: day-2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: time-1200 / time-1400;
}
.item-d2-4 {
    -ms-grid-column: 3;
    grid-column: day-2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    grid-row: time-1400 / time-1600;
}
.item-d2-5 {
    -ms-grid-column: 3;
    grid-column: day-2;
    -ms-grid-row: 9;
    -ms-grid-row-span: 2;
    grid-row: time-1600 / time-1800;
}
.item-d2-6 {
    -ms-grid-column: 3;
    grid-column: day-2;
    -ms-grid-row: 11;
    -ms-grid-row-span: 1;
    grid-row: time-1800 / time-1900;
}
.item-d2-7 {
    -ms-grid-column: 3;
    grid-column: day-2;
    -ms-grid-row: 12;
    -ms-grid-row-span: 1;
    grid-row: time-1900 / time-2000;
}
.item-d2-8 {
    -ms-grid-column: 3;
    grid-column: day-2;
    -ms-grid-row: 13;
    -ms-grid-row-span: 17;
    grid-row: time-2000 / time-2400;
}
.item-d2-9 {
    -ms-grid-column: 3;
    grid-column: day-2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: time-1000 / time-1100;
}
.item-d2-10 {
    -ms-grid-column: 3;
    grid-column: day-2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: time-1800 / time-1900;
}
.item-d3-1 {
    -ms-grid-column: 4;
    grid-column: day-3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: time-0900 / time-1000;
}
.item-d3-2 {
    -ms-grid-column: 4;
    grid-column: day-3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 8;
    grid-row: time-1000 / time-1800;
}
.item-d3-3 {
    -ms-grid-column: 4;
    grid-column: day-3;
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: time-1700 / time-1800;
}
.item-d3-4 {
    -ms-grid-column: 4;
    grid-column: day-3;
    -ms-grid-row: 11;
    -ms-grid-row-span: 2;
    grid-row: time-1800 / time-2000;
}
.item-d3-5 {
    -ms-grid-column: 4;
    grid-column: day-3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: time-1000 / time-1100;
}
/*** END agenda ***/
