:root {
	--color-primary-blue: #003399;
	--color-secondary-yellow: #FFCC00;
	--color-light-grey: #F4F4F4;
	--color-light-grey-darker: #A7A7A7;
	--color-grey: #222121;
	--color-grey-h3-bold: #3C4043;
	--color-grey-h3-normal: #222121;

    
    --layout-agenda-cell-height: 20px;
	--layout-agenda-cell-width: 2fr;
	
	--font-size-h1: 2.8rem;
	--line-height-h1: 2.6rem;
	--font-size-h2: 1.6rem;
	--line-height-h2: 1.9rem;
	--font-size-h3: 1.4rem;
	--line-height-h3: 1.7rem;
	--font-size-h4: 1.2rem;
	--line-height-h4: 1.35rem;
	--font-size-p: 1rem;
	--line-height-p: 1.2rem;
	--font-size-a: 1rem;
	--font-size-small: 90%;	
}
@media (max-width: 578px) {
	:root {
		--font-size-h1: 2rem;
		--line-height-h1: 2.2rem;
		--font-size-h2: 1.6rem;
		--line-height-h2: 1.9rem;
		--font-size-h3: 1.2rem;
		--line-height-h3: 1.55rem;
		--font-size-p: 1rem;
		--line-height-p: 1.2rem;
		--font-size-a: 1rem;
		--font-size-small: 60%;	
	}
}

@font-face {
    font-family: 'PT Sans';
	src: url('./fonts/PTSans-Regular.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
    font-family: 'PT Sans';
	src: url('./fonts/PTSans-Bold.ttf') format('truetype');
	font-weight:bold;
	font-style:normal;
}
@font-face {
    font-family: 'PT Sans';
	src: url('./fonts/PTSans-Italic.ttf') format('truetype');
	font-weight:normal;
	font-style:italic;
}
@font-face {
    font-family: 'PT Sans';
	src: url('./fonts/PTSans-BoldItalic.ttf') format('truetype');
	font-weight:bold;
	font-style:italic;
}


body {
	color: rgb(4, 36, 99);
	margin:0;
	padding:0;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	font-family: "PT Sans", sans-serif;
}

img {
	border:0;
	max-width:100%;
	vertical-align:bottom;
	-ms-interpolation-mode:bicubic;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2.8rem;
	font-size: var(--font-size-h1);
	line-height: 2.6rem;
	line-height: var(--line-height-h1);
	color: #003399;
	color: var(--color-primary-blue);
}
h2 {
	font-size: 1.6;
	font-size: var(--font-size-h2);
	line-height: 1.9;
	line-height: var(--line-height-h2);
	color: #222121;
	color: var(--color-grey-h3-normal);
}
h3 {
	font-size: 1.4rem;
	font-size: var(--font-size-h3);
	line-height: 1.7rem;
	line-height: var(--line-height-h3);
	color: #222121;
	color: var(--color-grey);
}
h4 {
	color: #222121;
}
h3.fw-normal {
	font-weight: normal;
}
h3.fw-bold {
	font-weight: bold;
	color: #3C4043;
	color: var(--color-grey-h3-bold);
}

a {
	color: #222121;
	color: var(--color-grey);
	font-size: 1rem;
	font-size: var(--font-size-a);
	line-height: 27px;
	text-decoration: none;
}

p {
	color: #222121;
	color: var(--color-grey);
	font-size: 1rem;
	font-size: var(--font-size-p);
	line-height: 1.2rem;
	line-height: var(--line-height-p);
	margin: 0;
}

.main-wrapper h1 {
	padding-top: 5rem;
	color: #222121;
	color: var(--color-grey-h3-normal) !important;
}

@media (max-width: 768px) {
	.main-wrapper h1 {
		padding-top: 3rem;
	}
}
@media (max-width: 576px) {
	.main-wrapper h1 {
		padding-top: 2rem;
	}
}
.h1-seperator {
    height: 2px;
    width: 100%;
    margin-top: 1rem;
	background-color: #222121;
    background-color: var(--color-grey);
}

.disable-menu {
	cursor: default !important;
	color: rgb(180, 180, 180) !important;
}

.disable-button {
	cursor: default !important;
	background: lightgrey !important;
	color: grey !important;
	border-color: grey !important;
}

button:focus {
	outline:0;
}

.primary-button-wrapper {
	display: flex;
}
.primary-button {
	border: none;
	background-color: #FFCC00;
	background-color: var(--color-secondary-yellow);
	color: #222121;
	color: var(--color-grey-h3-normal);
	font-size: 1.1rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
}
.primary-button.btn-angular-small {
	padding: 10px 25px;
	width: 160px;
	margin-right: 16px;
}
.primary-button.btn-rounded {
	padding: 6px 12px;
	border-radius: 30px;
	width: 140px;
}
@media (max-width: 576px) {
	.primary-button-wrapper {
		flex-direction: column;	
	}
	.primary-button.btn-angular-small {
		width: 70vw;
	}
}


.secondary-button {
	cursor: pointer;
	width: 100%;
	padding: 10px 25px;
	border: 2px solid #222121;
	border-radius: 5px;
	background-color: transparent;
	color: #222121;
	color: var(--color-grey-h3-normal);
	font-size: 1.2rem;
}


.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
} 
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media print {
	.container {
		min-width: 992px !important;
	}
}


.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Opera and Firefox */
}


.anchor {
    display: block;
    position: relative;
	top: -70px;
	visibility: hidden;
}

.side-navbar {
	background-color: white;
	z-index: 1;
	position: fixed;
	top: 30vh;
	margin-left: -10px;
	padding: 20px;
	border-radius: 6px;
	min-height: 200px;

	-webkit-box-shadow: 0px 0px 8px 0px rgba(140,138,140,1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(140,138,140,1);
	box-shadow: 0px 0px 8px 0px rgba(140,138,140,1);
}

.side-navbar-item {
	font-size: 1rem;
	margin-bottom: 0;
	display: none;
}
.side-navbar-item.header {
	font-size: 1.2rem;
}

.show-hide-side-navbar {
	position: absolute;
	bottom: 10px;
	right: 8px;
}





/*** BEGIN mobile menu ***/
#navbar-desktop, #navbar-mobile {
	background-color: #fff;
	position: -webkit-sticky;
	position: sticky;
	top: 0; /* required */
	z-index: 100;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(171,171,171,1);
	-moz-box-shadow: 0px 2px 4px 0px rgba(171,171,171,1);
	box-shadow: 0px 2px 4px 0px rgba(171,171,171,1);
}

.overlay {
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	background-color: #F4F4F4;
	background-color: var(--color-light-grey);

	flex-direction: column;
	height: 100%;
}

.overlay-content {
	position: relative;
	width: 100%;
	margin-top: 14px;	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.overlay .mobile-link-item  {
	padding: 1.6vh 16px;
	text-decoration: none;
	font-size: 1.6rem;
	font-size: var(--font-size-h2);
	color: #222121;
	color: var(--color-grey);
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	color: #3C4043;
	color: var(--color-grey-h3-bold);
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

@media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}
.current-menu {
	color: #003399;
	color: var(--color-primary-blue) !important;
	font-weight: bold;
}
.navbar-logo-mobile {
	max-height: 34px;
	margin-left: 12px;
	margin-right: 11px;
}

.mobile-menu-sub {
	list-style: none;
	margin: 0;
	padding: 0;
}
/*** END mobile menu ***/



/*** BEGIN navbar ***/
nav ul {
	padding: 0;
  	margin: 0;
	list-style: none;
	position: relative;
}
	
nav ul li {
	display:inline-block;
	background-color: #ffffff;
}

nav .dd a {
	display: block;
	padding: 0 14px;	
	font-size: 1.2rem;
	font-size: var(--font-size-h4);
	line-height: 60px;
	text-decoration:none;
}
.dd-item {
	line-height: 2.2rem !important;
	text-decoration:none;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	background-color: #ffffff;
	position: absolute; 
	top: 60px; /* the height of the main nav */
	border: 1px solid #e9ecef;
	border-radius: 4px;
	padding: 6px 0;
}
nav ul ul li {
	padding: 5px 0 5px 10px;

}
nav ul ul li:hover:not(.disable-menu) {
	background-color: #e9ecef;
}
/* Display Dropdowns on Hover */
.dd:hover > ul {
	display:inherit;
}
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:140px;
	float:none;
	display:list-item;
	position: relative;
}
/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}
.dd-divider {
	height: 0;
	margin: 0.5rem 0;
	overflow: hidden;
	border-top: 1px solid #e9ecef;
}


.navbar {
	height: 60px;
	min-height: 60px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar img {
	height: 35px;
}
.navbar-logo {
	max-height: 25px;
	margin-left: 14px;
}
@media (max-width: 576px) {
	.navbar {
		height: 10vh;
	}
}
.toggle-mobile-menu-icon {
	cursor:pointer;
	color: #003399;
	color: var(--color-primary-blue) !important;
}
.toggle-mobile-menu-icon.open {font-size:26px;}
.toggle-mobile-menu-icon.close {font-size:38px;}
#menu-mobile-burger {
	display: none;
}
#menu-desktop-content {
	display: flex;
}
@media (max-width: 992px) {
	#menu-mobile-burger { display: block; }
	#menu-desktop-content { display: none; }
}

.desktop-link-item {
	padding: 6px 12px;
	text-decoration: none;
	font-size: 1.2rem;
	font-size: var(--font-size-h4);
	color: #222121;
	color: var(--color-grey);
	display: block;
	transition: 0.3s;
	text-align: center;
}
.navbar-btn-spacing {
	width: 20px;
}
/*** END navbar ***/



/*** BEGIN header ***/
.header {
	background-color: #F4F4F4;
	background-color: var(--color-light-grey);
	padding: 2rem 0;
	width: 100%;
}
.header .container {
	display: flex;
	justify-content: space-between;
	margin-bottom: -100px;
}
@media (max-width: 1200px) {
	.header .container {
		margin-bottom: -60px;
	}
}
@media (max-width: 992px) {

}
@media (max-width: 992px){
	.header {
		padding: 0 0;
	}
	.header .container {
		flex-direction: column;
		margin-bottom: 0px;
	}
	.header-right {
		margin-bottom: -8rem;
	}
	.spacer {
		margin-bottom: 14rem;
	}
}
@media (max-width: 576px) {
	.header {
		padding: 2.8rem 0;
	}
	.spacer {
		margin-bottom: 8rem;
	}
}

.header-left {
	width: 55%;
}
#counter-register, #counter-header {
	opacity: 0;
}
.counter-header {
	margin-top: 1rem;
	font-size: 90%;
	font-size: var(--font-size-small);
	color: #A7A7A7;
	color: var(--color-light-grey-darker);
	font-weight: bold;
}
.hashtags-header {
	font-size: 90%;
	font-size: var(--font-size-small);
	color: #A7A7A7;
	color: var(--color-light-grey-darker);
	padding-right: 10px;
	font-weight: bold;
}
@media (max-width: 576px) {
	.header-left {
		padding-top: 10px;
		width: 95% !important;
		margin-top: -2rem !important;
	}
	.counter-header {
		margin-top: 0;
		margin-bottom: 1rem;
	}
}
.counter-group {
	margin-right: .8rem;
}



.header-right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 40%;
}
.header-image-wrapper {
	max-width: 430px;
	margin-left: auto;
}
.header-image-wrapper img {
	width: 100%;
}
@media (max-width: 993px) {
	.header .container {
		flex-direction: column;
	}
	.header-left {
		width: 100%;
	}
	.header-right {
		margin-top: 2rem;
		width: 100%;
		justify-content: flex-end;
	}
	.header-image-wrapper {
		width: 80%;
		margin-left: auto;
	}
	.header-image-wrapper img {
		margin-right: 0;
	}
}
/*** END header ***/



/*** BEGIN intro ***/
#intro {
	margin-top: 8rem;
}
@media (max-width: 768px) {
	#intro {
		margin-top: 10rem;
	}
}
.logo-EC {
	max-width: 250px;
}
.intro-patron {
	display: flex;
	align-items: center;
}
.intro-patron p {
	padding-right: 40px;
}
.text-patron-wrapper {
	width: 55%;
}
.img-patron-wrapper {
	width: 35%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.img-patron-wrapper div {
	width: 40%;
}
.img-patron-wrapper div img {
	max-height: 140px;
}
@media (max-width: 576px) {
	#intro {
		margin-top: 4rem;
	}
}
@media (max-width: 768px) {
	.intro-patron {
		flex-direction: column;
		align-items: flex-start;
	}
	.intro-patron p {
		padding-right: 0;
	}
	.text-patron-wrapper, .img-patron-wrapper {
		width: 100%;
	}
	.img-patron-wrapper { order: 1; margin-bottom: 38px; }
	.text-patron-wrapper { order: 2; }
	.img-patron-wrapper {
		justify-content: flex-start;
	}
}
.intro-infos-link {
	color: #222121;
	color: var(--color-grey);
	font-weight: bold;
	padding-bottom: 4px;
	border-bottom: 2px solid #222121;
	border-bottom: 2px solid var(--color-grey);
}

.eic-parliament-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.eic-logo {
	width: 70%;
	/* max-width: 60%; */
}
.parliament-wrapper {
	width: 80%;
}
@media (max-width: 992px) {
	.eic-logo {
		max-width: 80%;
	}
}
@media (max-width: 768px) {
	.eic-parliament-container {
		flex-wrap: wrap;
	}
	.eic-logo {
		width: 100%;
	}
	.parliament-wrapper {
		width: 100%;
		margin-top: 3rem;
	}
}
@media (max-width: 576px) {
	.eic-parliament-container {
		flex-direction: column;
	}
	.parliament-wrapper {
		margin-top: 2rem;
	}
}



/* countries */
.country-flags {
	width: 100%;
}
.country-mobile { display: none; }
@media (max-width: 992px) {
	.country-flags {
		width: 100%;
	}
}
@media (max-width: 768px) {
	.country-desktop { display: none; }
	.country-mobile { display: block; }
}
@media (max-width: 576px) {
	.logo-EC {
		max-width: 136px;
	}
	.intro-patron {
		flex-direction: column;
		align-items: flex-start;
	}
	.text-patron-wrapper {
		width: 100%;
	}
	.img-patron {
		max-width: 80px;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
}

/* description */
.description-container {
	display: flex;
	margin-top: 6rem;
}
.description-picture {
	width: 40%;
}
.description-content {
	width: 60%;
}
@media (max-width: 768px) {
	.description-container {
		margin-top: 3rem
	}
	.description-picture {
		display: none;
	}
	.description-content {
		width: 100%;
	}
}
.h2-description {
	display: flex;
	align-items: center;
}
.h2-description-icon {
	max-width: 24px;
}
.description-p {
	margin-left: 30px;
}
/* yt video */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*** END intro ***/



/*** BEGIN categories ***/
.categories {
	margin-top: 3rem;
	padding: 30px 0px;
	min-height: 350px;
	background-color: #003399;
	background-color: var(--color-primary-blue);	
	display:flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 80px;
}
@media (max-width: 768px) {
	.categories {
		margin-top: 1rem;
	}
}
.categories h2 {	
	color: white;
}

.categories h4 {
	display: inline-block;
	color: white;
	text-decoration: underline;
	white-space: nowrap;
}

.category {
	display:inline-block;
	margin-top:auto;
	padding: 40px 0px 40px 0px;
}

.category-image {
	position:relative;
	width: 120px;
	height: 120px;
	border-radius: 20px;
	z-index: 0;
}

.category-button {	
	position:relative;
	z-index: 1;
	width: 150px;
	height: 60px;
	background-color: #003399;
	background-color: var(--color-primary-blue);
	border-radius: 20px;
	margin-top: -25px;
	margin-left: 10px;
	font-size: 1rem;
	color: white;
	overflow-y: hidden;
	padding: 10px 5px 0 10px;
}

.category-open-all {
	height: 40px;
	overflow-y: hidden;
	padding-bottom: 10px;
}

@media (max-width: 576px){
	.categories {
		padding-top: 40px;
	}
	.category {
		padding: 40px 0px 0px 0px;
	}
	.category-image {
		width: 90px;
		height: 90px;
	}
	.category-button {
		width: 90px;
		height: 80px;
	}
	.category-open-all {
		width: 140px;
		overflow: hidden;
	}
}


/*** END categories ***/


/*** BEGIN how-can-you-help ***/
.how-can-you-help {

}

.how-can-you-help h2 {
	margin-bottom: 40px;
}

.how-can-you-help h3 {
	font-style: italic;
	margin-bottom: 20px;
}

.how-can-you-help p {
	font-size: 1rem;
	font-size: var(--font-size-p);
	margin-bottom: 20px;
	min-height: 100px;
}

.how-can-you-help-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.how-can-you-help-column {
	padding: 0px 0px 0px 0px;
	width: 30%;
}
.how-can-you-help-column p {
	min-height: 190px;
}
.how-can-you-help .secondary-button {
	font-size: 1rem;
	padding: 8px 25px;
	margin-bottom: 2px;
	width: 100%;
}
@media (max-width: 992px){
	.how-can-you-help-row {
		flex-direction: column;
	}
	.how-can-you-help-column {
		margin-top: 20px;
		width: 100%;
		padding: 0;
	}
	.how-can-you-help h2 {
		margin-bottom: 10px;
	}
	.how-can-you-help .secondary-button {
		padding: 8px 25px;
		font-size: 0.9rem;
		font-weight: bold;
		max-width: 300px;
		display: block;
	}
	.how-can-you-help p {
		min-height: 0;
	}
}
.register-status-check {
	margin-top: .6rem;
	font-size: .95rem;
}
.register-status-check a {
	color: var(--color-primary-blue);
	text-decoration: underline;
}
/*** END how-can-you-help ***/



/*** BEGIN Agenda  ***/
.agenda {
	margin-top: 6rem;
}
.agenda-image.desktop {
	max-width: 960px;
}
.agenda-image.mobile {
	display: none;
	max-width: 320px;
}
@media (max-width: 768px){
	.agenda {
		margin-top: 5rem !important;
	}
	.agenda-image.mobile {
		display: block;		
		width: 80%;
	}
	.agenda-image.desktop{
		display: none;
	}
}
/* partners */
.partners-logo-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	/* margin-bottom: -1rem; */
}
.partners-logo {
	margin: 4px 24px;
}
.partners-logo img {
	width: 130px;
}
.partners-logo-corp {
	margin: 4px 36px;
}
.partners-logo-corp img {
	width: 115px;
}
@media (max-width: 768px) {
	.partners-logo img {
		width: 80px;
	}
	.partners-logo-corp img {
		width: 70px;
	}
}
/* initiators */
.initiators-logo-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	margin-bottom: -1rem;
}
.initiators-logo img {
	width: 120px; /* 120 initial */
}

@media (max-width: 768px) {
	.initiators-logo img {
		width: 80px;
	}
}


/*** BEGIN challenges ***/
/* challenges MENU */
.challenges-menu .categories-menu {
	display: flex;
}

/* scrollbar */
#challenges-menu-scroller {
	overflow-x: auto;
}
#challenges-menu-scroller::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#challenges-menu-scroller::-webkit-scrollbar
{
	height: 5px;
	background-color: #F5F5F5;
}

#challenges-menu-scroller::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	background-color: #555;
}


.challenges-menu .category {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	cursor: pointer;
	margin-right: 3px;
}

.challenges-menu .category-image img {
	width: 120px;
	height: 120px;
	border-radius: 17px;
}
@media (max-width: 576px){
	.challenges-menu .category {
		padding-right: 0;
		margin-right: 0;
	}
	.challenges-menu .category-image img {
		width: 80px; 
		height: 80px;
	}
}
.img-selected {
	-webkit-box-shadow: -1px -1px 5px 0px rgba(133, 133, 133, 0.75);
	-moz-box-shadow: -1px -1px 5px 0px rgba(133, 133, 133, 0.75);
	box-shadow: -1px -1px 5px 0px rgba(133, 133, 133, 0.75); 
}
.img-greyed {
	-webkit-filter: grayscale(100%) opacity(50%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%) opacity(50%);
}
.category.not-selected {
	opacity: .7;
}
.challenges-menu .category-button {
	margin-top: -35px;
	height: 40px;
	width: 120px;
	background-color: #F4F4F4;
	background-color: var(--color-light-grey);
	color: #222121;
	color: var(--color-grey);
	font-size: 0.8rem;
}
.challenges-arrow-right-container {
	display: none;
}
.challenges-arrow-right-container img {
	width: 24px;
}
@media (max-width: 992px){
	.challenges-arrow-right-container { display: flex }
	.challenges-seperator { display: none }
}
.challenge-content {
	margin-top: 3rem;
	padding-bottom: 3rem;
}
.challenge-content h1 {
	color: #222121;
	color: var(--color-grey);
	margin-bottom: 2.5rem;
}
.challenge-content h2 {
	margin: 1rem 0;
}
.challenge-content h3 {
	margin: 1rem 0;
}
.challenge-content-h2 {
	font-size: 2.2rem;
}
.challenge-topic-box {
	background-color: #f8f8f8;
	margin-top: 16px;
	padding: 4px 24px 24px 24px;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(209,209,209,.8);
	-moz-box-shadow: 0px 0px 12px 0px rgba(209,209,209,.8);
	box-shadow: 0px 0px 12px 0px rgba(209,209,209,.8);
	border-radius: 4px;
}
.challenge-topic-box li {
	color: var(--color-grey);

}
/* challenges navbar */
.challenges-navigation-bar {
	margin-top: -20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.challenges-navigation-bar img {
	width: 42px;
	cursor: pointer;;
}
.challenges-navigation-bar p {
	font-size: 1.05rem;
}



/*** BEGIN ambassadors page ***/
.ambassadors {
	background-color: #F4F4F4;
	background-color: var(--color-light-grey);
	padding-bottom: 100px;	
}
.ambassador-card {
	width: 260px;
}
/*** END ambassadors page ***/



/*** BEGIN partners page ***/
.partners-wrapper {
	background-color: #F4F4F4;
	background-color: var(--color-light-grey);
	padding-bottom: 100px;
}
#partners-content {
	max-width: 100%;
}
.partners-intro {
	margin-top: 3rem;
	margin-bottom: 3rem;
}
@media (max-width: 992px){
	#partners-content {
		max-width: 100%;
	}
	.partners-intro {
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
}
#partners h2 {
	font-size: 2.2rem;
}
#partners h3 {
	font-size: 1.9rem;
}
#partners h4 {
	font-size: 1.6rem;
}

.partners-box {
	background-color: #ffffff;
	margin-top: 16px;
	padding: 4px 24px 24px 24px;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(209,209,209,.8);
	-moz-box-shadow: 0px 0px 12px 0px rgba(209,209,209,.8);
	box-shadow: 0px 0px 12px 0px rgba(209,209,209,.8);
	border-radius: 4px;
}
.additional-partners-list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
	column-count: 3;
	list-style: none;
	padding-left: 0;
}
.additional-partners-list.univerities {
    -webkit-column-count: 2;
    -moz-column-count: 2;
	column-count: 2;
	color: var(--color-grey);
}
@media (max-width: 992px){
	.additional-partners-list {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	.additional-partners-list.univerities {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}
@media (max-width: 576px){
	.additional-partners-list {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}
.partners-menu {
	margin-top: 3rem;
	display: flex;
	justify-content: space-between;
}
@media (max-width: 992px){
	.partners-menu {
		margin-top: 3rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.partners-menu a {
		margin-right: 12px;
		margin-bottom: 12px;
	}
}
/*** END partners page ***/



/*** BEGIN team page ***/
.team {
	background-color: #F4F4F4;
	background-color: var(--color-light-grey);
	padding-bottom: 100px;	
}
.badges-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.badges-wrapper .LI-profile-badge {
	margin-right: 2px;
	margin-top: 20px;
}
.team-member {
	margin-top: 1.5rem;
	max-width: 250px;
	width: 250px;
}
.team-member-position {
	padding: .25rem;
	height: 2.8rem;
	font-size: 1rem;
	line-height: 1.4rem;
	overflow-y: hidden;
	background-color: #bf38ef;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.team-menu {
	margin-top: 3rem;
}
@media (max-width: 992px){
	.team-menu {
		margin-top: 3rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.team-menu a {
		margin-right: 12px;
		margin-bottom: 12px;
	}
}
.team-menu-list {
	list-style: none;
	padding: 0;
}
/*** END team page ***/



/*** BEGIN faq ***/
.faq {
	background-color: #F4F4F4;
	background-color: var(--color-light-grey);
	padding-bottom: 100px;	
}

.faq h2 {
	margin-top: 3rem;
}

.faq h3 {
	margin-top: 2rem;
}

.faq hr {
	margin-top: 10px;
	background-color: #222121;
	background-color: var(--color-grey-h3-normal);
}

.faq p {
	width: 80%;
	margin-top: 1rem;
	color: #222121;
	color: var(--color-grey-h3-normal);
}
.faq a {
	color: #003399;
	color: var(--color-primary-blue);
}

@media (max-width: 992px){
	.faq .p {
		width: 100%;
	}
}
.faq-navigation a {
	color: #003399;
	color: var(--color-primary-blue);
	text-decoration: underline;
	display: block;
}
/*** END faq ***/



/*** BEGIN press ***/
.press {
	background-color: #F4F4F4;
	background-color: var(--color-light-grey);
	padding-bottom: 100px;	
}

.press h2 {
	margin-top: 4.5rem;
	font-size: 2rem;
}

.press h3 {
	margin-top: 1rem;
}

.press hr {
	margin-top: 10px;
	background-color: #222121;
	background-color: var(--color-grey-h3-normal);
}

.press p {
	width: 80%;
	margin-top: 1rem;
	color: #222121;
	color: var(--color-grey-h3-normal);
}

#twitter-wall {
	width: 100%;
	height: 90vh;
	min-height: 440px;
	max-height: 800px;
	border:0;
}
@media (max-width: 992px){
	.press .p {
		width: 100%;
	}
	#twitter-wall {
		height: 80vh;
	}
}
@media (max-width: 768px){
	.press h2 {
		margin-top: 3rem;
	}
	#twitter-wall {
		height: 80vh;
	}
}
/*** END press ***/



/*** BEGIN nextsteps ***/
.nextsteps-wrapper a {
	color: #003399;
	line-height: 1rem;
	text-decoration: underline;
}
/*** END nextsteps ***/



/*** BEGIN resources ***/

.mobile-resources-menu {
	margin-top: 3rem;
	display: none;
}
@media (max-width: 819px){
	.mobile-resources-menu {
		margin-top: 3rem;
		display: block;
	}
	.mobile-resources-menu a {
		margin-right: 12px;
	}
	.side-navbar.nav-resources {
		display: none;
	}
}
.resources-menu-list {
	list-style: none;
	padding: 0;
}
.resources-menu-list li {
	line-height: 1rem;
	font-weight: bold;
	margin-top: .5em;
	padding: 0;
}

.platform-section {
	display:flex;
	justify-content: space-between;
	color: #222121;
}
@media (max-width: 1200px){
	.platform-section{
		flex-direction: column;
	}
}
.platform-column {
	display: flex;
	flex-direction: column;
	/* margin-bottom: 50px; */
	width: 560px;
}
@media (max-width: 768px){
	.platform-column{
		max-width: 100%;
		padding-left: 0px!important;
	}
}

.platform-image {
	margin-bottom: 30px;
}

/*** END resources ***/



/*** BEGIN all legal: imprint, terms, privacy ***/
.legal {
	background-color: #F4F4F4;
	background-color: var(--color-light-grey);
	padding-bottom: 100px;	
}
.legal h2 {
	margin-top: 3rem;
}
.legal h3 {
	margin-top: 2rem;
}
.legal hr {
	margin-top: 10px;
	background-color: #222121;
	background-color: var(--color-grey-h3-normal);
}
.legal p, .legal li {
	width: 80%;
	margin-top: 1rem;
	color: #222121;
	color: var(--color-grey-h3-normal);
}
.legal a {
	color: #003399;
	color: var(--color-primary-blue);
}
@media (max-width: 992px){
	.legal .p {
		width: 100%;
	}
}
.legal .text-muted {
	color: #3C4043;
	color: var(--color-grey-h3-bold);
}
/*** END all legal ***/

/*** BEGIN stream banner ***/
.stream-container {
	/* display: none; */

	position: fixed;
	bottom: 2em;
	right: -400px;
	z-index: 10;
	width: 380px;
	height: 204px;
	border-radius: 8px;

	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 10px -1px rgba(77,77,77,1);
	-moz-box-shadow: 0px 0px 10px -1px rgba(77,77,77,1);
	box-shadow: 0px 0px 10px -1px rgba(77,77,77,1);

	overflow: hidden;

	animation-name: stream-content-movein;
	-moz-animation-name: stream-content-movein;
	-webkit-animation-name: stream-content-movein;

	animation-duration: 1s;
	-moz-animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-delay: 3s;
	-moz-animation-delay: 3s;
	-webkit-animation-delay: 3s;
}
@keyframes stream-content-movein {
  from {right: -400px;}
  to {right: 2em;}
}
.stream-container h3 {
	font-size: 1.3rem;
	line-height: 1.4rem;
}
.stream-card {
	display: flex;
	width: inherit;
	height: inherit;
}
.stream-card-left {
	background-image: url('./../assets/img/streams/badge.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 50%;
	height: inherit;
}
@media (max-width: 436px) {
	@keyframes stream-content-movein {
		from {right: -400px;}
		to {right: 5vw;}
	}
	.stream-container {
		width: 90vw;
		bottom: 1em;
	}
}
.stream-card-right {
	margin: 10px 10px 10px 0;
	width: 50%;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
}
.stream-card-date {
	font-size: .85rem;
	color: rgb(91, 96, 99);
}
.stream-card-dismiss {
	position: relative;
	bottom: 0;
	font-size: .9rem;
	text-decoration: underline;
	color: rgb(91, 96, 99);
	cursor: pointer;
}
.stream-button {
	border: none;
	background-color: #FFCC00;
	background-color: var(--color-secondary-yellow);
	color: #222121;
	color: var(--color-grey-h3-normal);
	font-size: .8rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	padding: 0px 0;
}
/*** END stream banner ***/

/*** BEGIN sharebutton ***/
.share-container {
	width: 100px;
	position: fixed;
	top: 40vh;
	left: -54px;
	height: 42px;
	/* background-color: red; */
	transition: 0.5s;
}
.share-container.higher {
	top: 20vh;
}
.share-container:hover {
	left: 0;
}
@media (max-width: 992px) {
	.share-container {
		display: none;
	}
}
.share-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 38px;
	font-weight: bold;
	background-color: #375897;

	border-radius: 0 6px 6px 0;
}
.share-btn.mobile {
	display: none;
	border-radius: 6px;
	padding: 0px 12px;
}
@media (max-width: 992px) {
	.share-btn.mobile {
		display: flex;
	}
}
.share-btn img {
	width: 24px;
	height: 24px;
	margin-left: 8px;
}
.share-btn p {
	color: #ffffff;
}
/*** END sharebutton ***/



/*** BEGIN results ***/
.domain-winner {
	margin-top: 3rem;
}
.domain-winner span {
	color: var(--color-grey);
}
.domain-winner span a {
	color: var(--color-primary-blue);
}
.domain-winner-content {
	display: flex;
	margin-top: 1rem;
}
.domain-winner-content b {
	color: #003399;
	font-size: 1rem;
	line-height: 1rem;
}
.domain-winner-content img {
	min-width: 280px !important;
	width: 280px !important;
	/* height: auto; */
	margin-right: 1.5rem;
}
@media (max-width: 1359px) {
	.domain-winner-content {
		flex-direction: column;
	}
	.domain-winner img {
		margin-top: 2rem;
		order: 2;
	}
}
/* collapse */
#acc-health a {
	color: #003399;
}
.card-prize em a {
	color: #003399;
}
.card-prize a {
	color: #003399;
}
.card-invited a {
	color: #003399;
}
.card {
	background-color: #fff;
	margin-top: .75rem;
	border-radius: 5px;
}
.card-header, .card-header-btn {
	background-color: #ffffff;
	cursor: pointer;
	color: #222121;
	border-radius: 5px;
}
.card-header {
	display: block;
	border-bottom: 1px solid rgb(163, 163, 163);
}
.card-header-btn {
	border: none;
	width: 100%;
	padding: 16px 28px;
	margin: 0;
	text-align: start;
	font-size: 1.4rem;
	font-weight: bold;
}
.card-header-btn-expand {
	float: right;
	font-size: 2.4rem;
	line-height: 1.4rem;
	color: #3C4043;

}
.card-body {
	padding: 16px 28px;
}
.teams-wrapper  {
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.card-body-team {
	width: 400px;
	margin-top: 1.4rem;
}
.card-body-flex {
	margin-top: 1rem;
	display: flex;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s cubic-bezier(0, 1, 0, 1);
}
.collapse.show {
    max-height: 99em;
    transition: max-height .5s ease-in-out;
}
/* card content (team) styling */
.card-rank-number {
	margin-right: 1rem;
	border: 1px solid grey;
	border-radius: 18px;
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card-find-out-more {
	color: #003399;
	font-size: .9rem;
	display: inline-block;
	margin-top: .2rem;
}
.card-prize {
	margin-top: .7rem;
}
.card-invited {
	margin-top: .2rem;
}
/*** END results ***/



/*** BEGIN footer ***/
footer {
	background-color: #F4F4F4;
	background-color: var(--color-light-grey);
	min-height: 60px;
	padding-bottom: 2rem;
}
.footer-left {
	align-items: center;

}
.footer-hashtag {
	max-width: 124px;
}
footer ul {
	list-style:none;
	padding: 0;
	margin-left: 3rem;
}
footer ul li {
	display: inline;
	margin-right: 28px;
}
footer ul li a { 
	font-size: 1rem;
	font-size: var(--font-size-a);
}
@media (max-width: 1359px) {
	footer {
		padding-bottom: 4rem;
	}
	.footer-left {
		flex-direction: column;
		align-items: flex-start;
	}
	footer ul {
		margin-left: 0rem;
	}
	footer ul li {
		margin-right: 20px;
	}
}
/*** END footer ***/




/*** Helpers ***/
.selectable {
	cursor: pointer;
}
.float-right {
	float: right;
}
.bg-grey {
	background-color: #F4F4F4;
	background-color: var(--color-light-grey);
}
.vertical-spacing {
	background-color: white;
	height: 15px;
}
.mt-1 {
	margin-top: 0.25rem !important;
}
.mt-2 {
	margin-top: 0.5rem !important;
}
.mt-3 {
	margin-top: 1rem !important;
}
.mt-4 {
	margin-top: 1.5rem !important;
}
.mt-4-5 {
	margin-top: 2.25rem !important;
}
.mt-5 {
	margin-top: 3rem;
}
.mt-6 {
	margin-top: 6rem !important;
}
.mt-8 {
	margin-top: 10rem !important;
}
.mb-1 {
	margin-bottom: 0.25rem !important;
}
.mb-2 {
	margin-bottom: 0.5rem !important;
}
.mb-3 {
	margin-bottom: 1rem !important;
}
.mb-4 {
	margin-bottom: 1.5rem !important;
}
.mb-5 {
	margin-bottom: 3rem !important;
}
.mb-6 {
	margin-bottom: 6rem !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}

.pt-1 {
	padding-top: 0.25rem !important;
}
.pt-2 {
	padding-top: 0.5rem !important;
}
.pt-3 {
	padding-top: 1rem !important;
}
.pt-4 {
	padding-top: 1.5rem !important;
}
.pt-5 {
	padding-top: 3rem !important;
}
.pt-6 {
	padding-top: 6rem !important;
}
.pb-1 {
	padding-bottom: 0.25rem !important;
}
.pb-2 {
	padding-bottom: 0.5rem !important;
}
.pb-3 {
	padding-bottom: 1rem !important;
}
.pb-4 {
	padding-bottom: 1.5rem !important;
}
.pb-5 {
	padding-bottom: 3rem !important;
}

@media (max-width: 576px){
	.mt-5-mobile {
		margin-top: 3rem;
	}
}
.o-zero {
	opacity: 0 !important;
}
.d-none {
	display: none !important;
}
.d-inline-block {
	display: inline-block !important;
}
.d-flex {
	display: flex !important;
}
.d-block {
	display: block !important;
}
.align-items-center {
	align-items: center !important;
}
.space-between {
	justify-content: space-between !important;
}
.justify-center {
	justify-content: center !important;
}
.justify-end {
	justify-content: flex-end;
}
.flex-wrap {
	flex-wrap: wrap !important;
}
@media (max-width: 768px){
	.d-none-mobile {
		display: none !important;
	}
}
.rotate-90 {
	transform: rotate(180deg);
}
.rotate-180 {
	transform: rotate(180deg);
}
.text-muted {
	color: #818181;
}
.cursor-default {
	cursor: default;
}

/*** Tooltip ***/
.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	font-size: small !important;
	font-weight: 500;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.tooltip-bottom {
	bottom: -45px !important;
}

.tooltip-bottom::after {
	top: -9px !important;
	transform: rotate(180deg) !important;
}

.cc-window{opacity:1;-webkit-transition:opacity 1s ease;transition:opacity 1s ease}.cc-window.cc-invisible{opacity:0}.cc-animate.cc-revoke{-webkit-transition:transform 1s ease;-webkit-transition:-webkit-transform 1s ease;transition:-webkit-transform 1s ease;transition:transform 1s ease;transition:transform 1s ease,-webkit-transform 1s ease}.cc-animate.cc-revoke.cc-top{-webkit-transform:translateY(-2em);transform:translateY(-2em)}.cc-animate.cc-revoke.cc-bottom{-webkit-transform:translateY(2em);transform:translateY(2em)}.cc-animate.cc-revoke.cc-active.cc-top{-webkit-transform:translateY(0);transform:translateY(0)}.cc-animate.cc-revoke.cc-active.cc-bottom{-webkit-transform:translateY(0);transform:translateY(0)}.cc-revoke:hover{-webkit-transform:translateY(0);transform:translateY(0)}.cc-grower{max-height:0;overflow:hidden;-webkit-transition:max-height 1s;transition:max-height 1s}
.cc-revoke,.cc-window{position:fixed;overflow:hidden;-webkit-box-sizing:border-box;box-sizing:border-box;font-family:Helvetica,Calibri,Arial,sans-serif;font-size:16px;line-height:1.5em;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;z-index:9999}.cc-window.cc-static{position:static}.cc-window.cc-floating{padding:2em;max-width:24em;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner{padding:1em 1.8em;width:100%;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}.cc-revoke{padding:.5em}.cc-revoke:hover{text-decoration:underline}.cc-header{font-size:18px;font-weight:700}.cc-btn,.cc-close,.cc-link,.cc-revoke{cursor:pointer}.cc-link{opacity:.8;display:inline-block;padding:.2em;text-decoration:underline}.cc-link:hover{opacity:1}.cc-link:active,.cc-link:visited{color:initial}.cc-btn{display:block;padding:.4em .8em;font-size:.9em;font-weight:700;border-width:2px;border-style:solid;text-align:center;white-space:nowrap}.cc-highlight .cc-btn:first-child{background-color:transparent;border-color:transparent}.cc-highlight .cc-btn:first-child:focus,.cc-highlight .cc-btn:first-child:hover{background-color:transparent;text-decoration:underline}.cc-close{display:block;position:absolute;top:.5em;right:.5em;font-size:1.6em;opacity:.9;line-height:.75}.cc-close:focus,.cc-close:hover{opacity:1}
.cc-revoke.cc-top{top:0;left:3em;border-bottom-left-radius:.5em;border-bottom-right-radius:.5em}.cc-revoke.cc-bottom{bottom:0;left:3em;border-top-left-radius:.5em;border-top-right-radius:.5em}.cc-revoke.cc-left{left:3em;right:unset}.cc-revoke.cc-right{right:3em;left:unset}.cc-top{top:1em}.cc-left{left:1em}.cc-right{right:1em}.cc-bottom{bottom:1em}.cc-floating>.cc-link{margin-bottom:1em}.cc-floating .cc-message{display:block;margin-bottom:1em}.cc-window.cc-floating .cc-compliance{-webkit-box-flex:1;-ms-flex:1 0 auto;flex:1 0 auto}.cc-window.cc-banner{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.cc-banner.cc-top{left:0;right:0;top:0}.cc-banner.cc-bottom{left:0;right:0;bottom:0}.cc-banner .cc-message{display:block;-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;max-width:100%;margin-right:1em}.cc-compliance{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-line-pack:justify;align-content:space-between}.cc-floating .cc-compliance>.cc-btn{-webkit-box-flex:1;-ms-flex:1;flex:1}.cc-btn+.cc-btn{margin-left:.5em}
@media print{.cc-revoke,.cc-window{display:none}}@media screen and (max-width:900px){.cc-btn{white-space:normal}}@media screen and (max-width:414px) and (orientation:portrait),screen and (max-width:736px) and (orientation:landscape){.cc-window.cc-top{top:0}.cc-window.cc-bottom{bottom:0}.cc-window.cc-banner,.cc-window.cc-floating,.cc-window.cc-left,.cc-window.cc-right{left:0;right:0}.cc-window.cc-banner{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner .cc-compliance{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto}.cc-window.cc-floating{max-width:none}.cc-window .cc-message{margin-bottom:1em}.cc-window.cc-banner{-webkit-box-align:unset;-ms-flex-align:unset;align-items:unset}.cc-window.cc-banner .cc-message{margin-right:0}}
.cc-floating.cc-theme-classic{padding:1.2em;border-radius:5px}.cc-floating.cc-type-info.cc-theme-classic .cc-compliance{text-align:center;display:inline;-webkit-box-flex:0;-ms-flex:none;flex:none}.cc-theme-classic .cc-btn{border-radius:5px}.cc-theme-classic .cc-btn:last-child{min-width:140px}.cc-floating.cc-type-info.cc-theme-classic .cc-btn{display:inline-block}
.cc-theme-edgeless.cc-window{padding:0}.cc-floating.cc-theme-edgeless .cc-message{margin:2em;margin-bottom:1.5em}.cc-banner.cc-theme-edgeless .cc-btn{margin:0;padding:.8em 1.8em;height:100%}.cc-banner.cc-theme-edgeless .cc-message{margin-left:1em}.cc-floating.cc-theme-edgeless .cc-btn+.cc-btn{margin-left:0}
@media (max-width: 768px){
	.cc-revoke.cc-right {
		right:1em;
	}
}