:root {
	--color-primary-blue: #003399;
	--color-secondary-yellow: #FFCC00;
	--color-light-grey: #F8F9F9;
	--color-grey: #222121;
    
    --layout-agenda-cell-height: 20px;
	--layout-agenda-cell-width: 2fr;
	
	--font-size-h1: 2.8rem;
	--font-size-h2: 2rem;
	--font-size-h3: 1.4rem;
	--font-size-p: 1rem;
	--font-size-a: 1rem;
}

@font-face {
    font-family: 'PT Sans';
	src: url('./fonts/PTSans-Regular.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
    font-family: 'PT Sans';
	src: url('./fonts/PTSans-Bold.ttf') format('truetype');
	font-weight:bold;
	font-style:normal;
}
@font-face {
    font-family: 'PT Sans';
	src: url('./fonts/PTSans-Italic.ttf') format('truetype');
	font-weight:normal;
	font-style:italic;
}
@font-face {
    font-family: 'PT Sans';
	src: url('./fonts/PTSans-BoldItalic.ttf') format('truetype');
	font-weight:bold;
	font-style:italic;
}


body {
	margin:0;
	padding:0;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	font-family: "PT Sans", sans-serif;
}

img {
	border:0;
	max-width:100%;
	vertical-align:bottom;
    -ms-interpolation-mode:bicubic;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: var(--font-size-h1);
	line-height: 86px;
	color: #fff;
}
h2 {
	font-size: var(--font-size-h2);
	line-height: 2.6rem;
	color: #fff;
}
h3 {
	font-size: var(--font-size-h3);
	line-height: 1.6rem;
	color: var(--color-grey);
}

a {
	color: var(--color-grey);
	font-size: var(--font-size-a);
	line-height: 27px;
	text-decoration: none;
}

p {
	color: var(--color-grey);
	font-size: var(--font-size-p);
	line-height: 27px;
	margin: 0;
}

button {
	cursor: pointer;
	padding: 3px 15px 3px 15px;
	/* margin-right: 20px; */
	margin: 10px 10px 0px 0px;
	border: 2px solid;
	background-color: transparent;
	border-color: var(--color-secondary-yellow);
	color: var(--color-secondary-yellow);
	font-size: 1.2rem;
}

button:hover {
	background-color: var(--color-secondary-yellow);
	color: var(--color-primary-blue)
}


.text-yellow {
	color: var(--color-secondary-yellow);
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
} 
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media print {
	.container {
		min-width: 992px !important;
	}
}

/*** BEGIN navbar ***/
.navbar {
	height: 5vh;
	background-color: white;
	display: flex;
	align-items: center;
}
/*** END navbar ***/


/*** BEGIN header ***/
.header {	
	background-color: var(--color-primary-blue);
	background-image: url('./../assets/img/bg-header.png');
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;

	padding: 2rem 0;
	width: 100%;
}

.header .container {
	display: flex;
	justify-content: space-between;

}

.header-left {
	width: 60%;
}

.header-left h2{
	color: white;
}

.header-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 30%;
	/* background-color: var(--color-secondary-yellow); */
}

.header-right h1{
	color: darkblue;
	margin: 0;
}

.header-right p{
	color: var(--color-primary-blue);
	margin: 0;
}
/*** END header ***/


/*** BEGIN categories ***/
.categories {
	min-height: 20vh;
	background-color: var(--color-primary-blue);	
	display:flex;
	align-items: center;
}

.categories h3 {	
	color: white;
}

.button-group {
	margin-top: 20px;
	/* justify-con	tent: start; */
}


/*** END categories ***/





/*** BEGIN agenda ***/
.agenda-h3 {
	display: inline-block;
	padding: 3px 6px;
	margin: 1rem 0;
	font-style: italic;
}
.agenda-h3-yellow {
	background-color: var(--color-secondary-yellow);
}

/* .agenda-date, .agenda-text {
	margin: 0;
} */
.agenda-date-element {
	margin-bottom: .75rem;
}
.agenda-date {
	font-weight: bold;
	font-size: 108%;
}


/* Hackathon Agenda */
.agenda {
    display: grid;
    grid-template-columns: 
        [times] 6em
        [day-1] var(--layout-agenda-cell-width)
        [day-2] var(--layout-agenda-cell-width)
        [day-3] var(--layout-agenda-cell-width);
    grid-template-rows:
        [dates] 4em
        [time-0900] var(--layout-agenda-cell-height)
        [time-1000] var(--layout-agenda-cell-height)
        [time-1100] var(--layout-agenda-cell-height)
        [time-1200] var(--layout-agenda-cell-height)
        [time-1300] var(--layout-agenda-cell-height)
        [time-1400] var(--layout-agenda-cell-height)
        [time-1500] var(--layout-agenda-cell-height)
        [time-1600] var(--layout-agenda-cell-height)
        [time-1700] var(--layout-agenda-cell-height)
        [time-1800] var(--layout-agenda-cell-height)
        [time-1900] var(--layout-agenda-cell-height)
        [time-2000] var(--layout-agenda-cell-height)
        [time-2100] var(--layout-agenda-cell-height)
        [time-2200] var(--layout-agenda-cell-height)
        [time-2300] var(--layout-agenda-cell-height)
        [time-2400] var(--layout-agenda-cell-height)
        [time-0100] var(--layout-agenda-cell-height);
}

.item {
    margin: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-blue {
    color: var(--color-secondary-yellow);
    background-color: var(--color-primary-blue);
}
.item-grey {
    color: var(--color-grey);
    background-color: var(--color-light-grey);

}
/* Layout - columns */
.item-date {
	grid-row: dates;
	font-size: 120%;
    font-weight: bold;
    color: var(--color-grey);
}
.date-d1 {
    grid-column: day-1;
}
.date-d2 {
    grid-column: day-2;
}
.date-d3 {
    grid-column: day-3;
}
/* Layout - rows */
.item-time {
    grid-column: times;
    color: var(--color-grey);
    background-color: var(--color-light-grey);
    font-size: 85%;
    margin: 4px;
}
.time-t09 {
    grid-row: time-0900 / time-1100;
}
.time-t11 {
    grid-row: time-1100 / time-1300;
}
.time-t13 {
    grid-row: time-1300 / time-1500;
}
.time-t15 {
    grid-row: time-1500 / time-1700;
}
.time-t17 {
    grid-row: time-1700 / time-1900;
}
.time-t19 {
    grid-row: time-1900 / time-2100;
}
.time-t21 {
    grid-row: time-2100 / time-2300;
}
.time-t23 {
    grid-row: time-2300 / time-0100;
}

/* Items */
.item-d1-1 {
    grid-column: day-1;
    grid-row: time-1600 / time-2000;
}
.item-d1-2 {
    grid-column: day-1;
    grid-row: time-2000 / time-2400;
}
.item-d2-1 {
    grid-column: day-2;
    grid-row: time-0900 / time-1100;
}
.item-d2-2 {
    grid-column: day-2;
    grid-row: time-1100 / time-1500;
}
.item-d2-3 {
    grid-column: day-2;
    grid-row: time-1500 / time-1700;
}
.item-d2-4 {
    grid-column: day-2;
    grid-row: time-1700 / time-2100;
}
.item-d2-5 {
    grid-column: day-2;
    grid-row: time-2100 / time-2300;
}
.item-d3-1 {
    grid-column: day-3;
    grid-row: time-0900 / time-1100;
}
.item-d3-2 {
    grid-column: day-3;
    grid-row: time-1100 / time-1700;
}
.item-d3-3 {
    grid-column: day-3;
    grid-row: time-1700 / time-1800;
}
.item-d3-4 {
    grid-column: day-3;
    grid-row: time-1800 / time-2300;
}
/*** END agenda ***/


/*** BEGIN participants ***/
.participants-h3 {
	display: inline-block;
	margin: 1rem 0 .2rem 0;
	font-style: italic;
}
/*** END participants ***/







/*** BEGIN footer ***/
footer {
	background-color: var(--color-light-grey);
	height: 100px;
}
footer ul {
	list-style:none;
	padding: 0;
}
footer ul li {
	display: inline;
	margin-right: 28px;
}
/*** END footer ***/




/*** Helpers ***/
.mt-1 {
	margin-top: 0.25rem !important;
}
.mt-2 {
	margin-top: 0.5rem !important;
}
.mt-3 {
	margin-top: 1rem !important;
}
.mt-4 {
	margin-top: 1.5rem !important;
}
.mt-5 {
	margin-top: 3rem !important;
}
.mt-6 {
	margin-top: 6rem !important;
}
.mb-1 {
	margin-bottom: 0.25rem !important;
}
.mb-2 {
	margin-bottom: 0.5rem !important;
}
.mb-3 {
	margin-bottom: 1rem !important;
}
.mb-4 {
	margin-bottom: 1.5rem !important;
}
.mb-5 {
	margin-bottom: 3rem !important;
}

.pt-1 {
	padding-top: 0.25rem !important;
}
.pt-2 {
	padding-top: 0.5rem !important;
}
.pt-3 {
	padding-top: 1rem !important;
}
.pt-4 {
	padding-top: 1.5rem !important;
}
.pt-5 {
	padding-top: 3rem !important;
}
.pt-6 {
	padding-top: 6rem !important;
}
.pb-1 {
	padding-bottom: 0.25rem !important;
}
.pb-2 {
	padding-bottom: 0.5rem !important;
}
.pb-3 {
	padding-bottom: 1rem !important;
}
.pb-4 {
	padding-bottom: 1.5rem !important;
}
.pb-5 {
	padding-bottom: 3rem !important;
}

.d-none {
	display: none !important;
}
.d-flex {
	display: flex !important;
}
