:root {
	--color-primary-blue: #003399;
	--color-secondary-yellow: #FFCC00;
	--color-light-grey: #F4F4F4;
	--color-light-grey-darker: #A7A7A7;
	--color-grey: #222121;
	--color-grey-h3-bold: #3C4043;
	--color-grey-h3-normal: #222121;

    
    --layout-agenda-cell-height: 20px;
	--layout-agenda-cell-width: 2fr;
	
	--font-size-h1: 2.8rem;
	--line-height-h1: 2.6rem;
	--font-size-h2: 1.6rem;
	--line-height-h2: 1.9rem;
	--font-size-h3: 1.4rem;
	--line-height-h3: 1.7rem;
	--font-size-h4: 1.2rem;
	--line-height-h4: 1.35rem;
	--font-size-p: 1rem;
	--line-height-p: .8rem;
	--font-size-a: 1rem;
	--font-size-small: 90%;	
}
@media (max-width: 578px) {
	:root {
		--font-size-h1: 2rem;
		--line-height-h1: 2rem;
		--font-size-h2: 1.6rem;
		--line-height-h2: 1.9rem;
		--font-size-h3: 1.0rem;
		--line-height-h3: 1.3rem;
		--font-size-p: 1rem;
		--line-height-p: .8rem;
		--font-size-a: 1rem;
		--font-size-small: 60%;	
	}
}

@font-face {
    font-family: 'PT Sans';
	src: url('./fonts/PTSans-Regular.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
    font-family: 'PT Sans';
	src: url('./fonts/PTSans-Bold.ttf') format('truetype');
	font-weight:bold;
	font-style:normal;
}
@font-face {
    font-family: 'PT Sans';
	src: url('./fonts/PTSans-Italic.ttf') format('truetype');
	font-weight:normal;
	font-style:italic;
}
@font-face {
    font-family: 'PT Sans';
	src: url('./fonts/PTSans-BoldItalic.ttf') format('truetype');
	font-weight:bold;
	font-style:italic;
}


body {
	margin:0;
	padding:0;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	font-family: "PT Sans", sans-serif;
}

img {
	border:0;
	max-width:100%;
	vertical-align:bottom;
    -ms-interpolation-mode:bicubic;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: var(--font-size-h1);
	line-height: var(--line-height-h1);
	color: var(--color-primary-blue);
}
h2 {
	font-size: var(--font-size-h2);
	line-height: var(--line-height-h2);
	color: var(--color-grey-h2-normal);
}
h3 {
	font-size: var(--font-size-h3);
	line-height: var(--line-height-h3);
	color: var(--color-grey);
}
h3.fw-normal {
	font-weight: normal;
}
h3.fw-bold {
	font-weight: bold;
	color: var(--color-grey-h3-bold);
}

a {
	color: var(--color-grey);
	font-size: var(--font-size-a);
	line-height: 27px;
	text-decoration: none;
}

p {
	color: var(--color-grey);
	font-size: var(--font-size-p);
	line-height: 27px;
	margin: 0;
}

.primary-button {
	/* cursor: pointer; */
	padding: 10px 25px;
	border: none;
	/* border-radius: 30px; */
	background-color: var(--color-secondary-yellow);
	color: var(--color-grey-h2-normal);
	font-size: 1.1rem;
	font-weight: bold;
	width: 320px;
	display:flex;
	justify-content: center;
}
@media (max-width: 576px) {
	.primary-button {
		width: 280px;
	}
}
/*
.primary-button:hover {
	color: var(--color-primary-blue)
}
*/

.secondary-button {
	cursor: pointer;
	padding: 10px 25px;
	border: 2px solid #222121;
	border-radius: 5px;
	background-color: transparent;
	color: var(--color-grey-h2-normal);
	font-size: 1.2rem;
}


.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
} 
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media print {
	.container {
		min-width: 992px !important;
	}
}


.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Opera and Firefox */
}



/*** BEGIN mobile menu ***/
#navbar-mobile {
	background-color: #fff;;
}
.overlay {
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--color-light-grey);

	flex-direction: column;
	height: 100%;
}

.overlay-content {
	position: relative;
	width: 100%;
	margin-top: 14px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.overlay .mobile-link-item  {
	padding: 1.6vh 16px;
	text-decoration: none;
	font-size: var(--font-size-h2);
	color: var(--color-grey);
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

@media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}
.current-menu {
	color: var(--color-primary-blue) !important;
	font-weight: bold;
}
.navbar-logo-mobile {
	max-height: 34px;
	margin-left: 16px;
	margin-right: 16px;
}
/*** END mobile menu ***/



/*** BEGIN navbar ***/
.navbar {
	height: 7vh;
	min-height: 60px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar img {
	height: 35px;
}
.navbar-logo {
	max-height: 25px;
	margin-left: 14px;
}
@media (max-width: 576px) {
	.navbar {
		height: 10vh;
	}
}
.toggle-mobile-menu-icon {
	
	cursor:pointer;
	color: var(--color-primary-blue) !important;
}
.toggle-mobile-menu-icon.open {font-size:26px;}
.toggle-mobile-menu-icon.close {font-size:38px;}
#menu-mobile-burger {
	display: none;
}
#menu-desktop-content {
	display: flex;
}
@media (max-width: 992px) {
	#menu-mobile-burger { display: block; }
	#menu-desktop-content { display: none; }
}

.desktop-link-item {
	padding: 1.6vh 16px;
	text-decoration: none;
	font-size: var(--font-size-h4);
	color: var(--color-grey);
	display: block;
	transition: 0.3s;
}
/*** END navbar ***/


/*** BEGIN header ***/
.header {
	background-color: var(--color-light-grey);
	padding: 2rem 0;
	width: 100%;
}
.header .container {
	display: flex;
	justify-content: space-between;
	margin-bottom: -80px;
}
@media (max-width: 993px){
	.header {
		padding: 0rem 0;
	}
	.header .container {
		flex-direction: column;
	}
}
@media (max-width: 576px) {
	.header {
		padding: 2.8rem 0;
	}
}

.header-left {
	width: 55%;
}
.counter-header {
	margin-top: 1rem;
	font-size: var(--font-size-small);
	color: var(--color-light-grey-darker);
	font-weight: bold;
}
@media (max-width: 576px) {
	.header-left {
		padding-top: 10px;
		width: 95% !important;
		margin-top: -2rem !important;
	}
	.counter-header {
		margin-top: 0;
		margin-bottom: 1rem;
	}
}
.counter-group {
	margin-right: .8rem;
}



.header-right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 40%;
}
.header-image-wrapper {
	max-width: 430px;
	margin-left: auto;
}
.header-image-wrapper img {
	width: 100%;
}
@media (max-width: 993px) {
	.header .container {
		flex-direction: column;
	}
	.header-left {
		width: 100%;
	}
	.header-right {
		margin-top: 2rem;
		width: 100%;
		justify-content: flex-end;
	}
	.header-image-wrapper {
		width: 80%;
		margin-left: auto;
	}
	.header-image-wrapper img {
		margin-right: 0;
	}
}
/*** END header ***/



/*** BEGIN intro ***/
#intro {
	margin-top: 8rem;
}
@media (max-width: 768px) {
	#intro {
		margin-top: 10rem;
	}
}
.logo-EC {
	max-width: 250px;
}
.intro-patron {
	display: flex;
	align-items: center;
	max-width: 960px;
}
.text-patron-wrapper {
	width: 70%;
}
.img-patron-wrapper {
	width: 10%;
}
.img-patron {
	max-width: 100px;
	height: auto;
}

.intro-infos-link {
	color: var(--color-grey);
	font-weight: bold;
	padding-bottom: 4px;
	border-bottom: 2px solid var(--color-grey);
}

.country-flags {
	width: 66%;
}
@media (max-width: 576px){
	.logo-EC {
		max-width: 136px;
	}
	.intro-patron {
		flex-direction: column;
		align-items: flex-start;
	}
	.text-patron-wrapper {
		width: 100%;
	}
	.img-patron {
		max-width: 80px;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
	.country-flags {
		width: 100%;
	}
}

.initiators-logo-row {
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: -1rem;
}
/*** END intro ***/




/*** BEGIN footer ***/
footer {
	background-color: var(--color-light-grey);
	min-height: 60px;
	padding-bottom: 2rem;
}
footer ul {
	list-style:none;
	padding: 0;
}
footer ul li {
	display: inline;
	margin-right: 28px;
}
footer ul li a { 
	font-size: var(--font-size-a);
}
/*** END footer ***/




/*** Helpers ***/
.mt-1 {
	margin-top: 0.25rem !important;
}
.mt-2 {
	margin-top: 0.5rem !important;
}
.mt-3 {
	margin-top: 1rem !important;
}
.mt-4 {
	margin-top: 1.5rem !important;
}
.mt-4-5 {
	margin-top: 2.25rem !important;
}
.mt-5 {
	margin-top: 3rem;
}
.mt-6 {
	margin-top: 6rem !important;
}
.mt-8 {
	margin-top: 10rem !important;
}
.mb-1 {
	margin-bottom: 0.25rem !important;
}
.mb-2 {
	margin-bottom: 0.5rem !important;
}
.mb-3 {
	margin-bottom: 1rem !important;
}
.mb-4 {
	margin-bottom: 1.5rem !important;
}
.mb-5 {
	margin-bottom: 3rem !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}

.pt-1 {
	padding-top: 0.25rem !important;
}
.pt-2 {
	padding-top: 0.5rem !important;
}
.pt-3 {
	padding-top: 1rem !important;
}
.pt-4 {
	padding-top: 1.5rem !important;
}
.pt-5 {
	padding-top: 3rem !important;
}
.pt-6 {
	padding-top: 6rem !important;
}
.pb-1 {
	padding-bottom: 0.25rem !important;
}
.pb-2 {
	padding-bottom: 0.5rem !important;
}
.pb-3 {
	padding-bottom: 1rem !important;
}
.pb-4 {
	padding-bottom: 1.5rem !important;
}
.pb-5 {
	padding-bottom: 3rem !important;
}

.d-none {
	display: none !important;
}
.d-flex {
	display: flex !important;
}
.align-items-center {
	align-items: center !important;
}