:root {
	--color-primary-blue: #003399;
	--color-secondary-yellow: #FFCC00;
	--color-light-grey: #F4F4F4;
	--color-light-grey-darker: #A7A7A7;
	--color-grey: #222121;
	--color-grey-h3-bold: #3C4043;
	--color-grey-h3-normal: #222121;

    
    --layout-agenda-cell-height: 20px;
	--layout-agenda-cell-width: 2fr;
	
	--font-size-h1: 2.8rem;
	--line-height-h1: 2.6rem;
	--font-size-h2: 1.6rem;
	--line-height-h2: 1.9rem;
	--font-size-h3: 1.4rem;
	--line-height-h3: 1.7rem;
	--font-size-h4: 1.2rem;
	--line-height-h4: 1.35rem;
	--font-size-p: 1rem;
	--line-height-p: 1.2rem;
	--font-size-a: 1rem;
	--font-size-small: 90%;	
}
@media (max-width: 578px) {
	:root {
		--font-size-h1: 2rem;
		--line-height-h1: 2rem;
		--font-size-h2: 1.6rem;
		--line-height-h2: 1.9rem;
		--font-size-h3: 1.0rem;
		--line-height-h3: 1.3rem;
		--font-size-p: 1rem;
		--line-height-p: 1.2rem;
		--font-size-a: 1rem;
		--font-size-small: 60%;	
	}
}

@font-face {
    font-family: 'PT Sans';
	src: url('./fonts/PTSans-Regular.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
    font-family: 'PT Sans';
	src: url('./fonts/PTSans-Bold.ttf') format('truetype');
	font-weight:bold;
	font-style:normal;
}
@font-face {
    font-family: 'PT Sans';
	src: url('./fonts/PTSans-Italic.ttf') format('truetype');
	font-weight:normal;
	font-style:italic;
}
@font-face {
    font-family: 'PT Sans';
	src: url('./fonts/PTSans-BoldItalic.ttf') format('truetype');
	font-weight:bold;
	font-style:italic;
}


body {
	margin:0;
	padding:0;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	font-family: "PT Sans", sans-serif;
}

img {
	border:0;
	max-width:100%;
	vertical-align:bottom;
    -ms-interpolation-mode:bicubic;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: var(--font-size-h1);
	line-height: var(--line-height-h1);
	color: var(--color-primary-blue);
}
h2 {
	font-size: var(--font-size-h2);
	line-height: var(--line-height-h2);
	color: var(--color-grey-h2-normal);
}
h3 {
	font-size: var(--font-size-h3);
	line-height: var(--line-height-h3);
	color: var(--color-grey);
}
h3.fw-normal {
	font-weight: normal;
}
h3.fw-bold {
	font-weight: bold;
	color: var(--color-grey-h3-bold);
}

a {
	color: var(--color-grey);
	font-size: var(--font-size-a);
	line-height: 27px;
	text-decoration: none;
}

p {
	color: var(--color-grey);
	font-size: var(--font-size-p);
	line-height: var(--line-height-p);
	margin: 0;
}

.disable-menu {
	cursor: default !important;
	color: rgb(180, 180, 180) !important;
}

.disable-button {
	cursor: default !important;
	background: lightgrey !important;
	color: grey !important;
	border-color: grey !important;
}

button:focus {
	outline:0;
}


.primary-button {
	/* cursor: pointer; */
	padding: 10px 25px;
	border: none;
	/* border-radius: 30px; */
	background-color: var(--color-secondary-yellow);
	color: var(--color-grey-h2-normal);
	font-size: 1.1rem;
	font-weight: bold;
	width: 320px;
	display:flex;
	justify-content: center;
}
@media (max-width: 576px) {
	.primary-button {
		width: 280px;
	}
}


.secondary-button {
	cursor: pointer;
	width: 100%;
	padding: 10px 25px;
	border: 2px solid #222121;
	border-radius: 5px;
	background-color: transparent;
	color: var(--color-grey-h2-normal);
	font-size: 1.2rem;
}


.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
} 
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media print {
	.container {
		min-width: 992px !important;
	}
}


.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Opera and Firefox */
}


.anchor {
    display: block;
    position: relative;
	top: -100px;
	visibility: hidden;
}



/*** BEGIN mobile menu ***/
#navbar-desktop, #navbar-mobile {
	background-color: #fff;
	position: sticky;
	top: 0; /* required */
	z-index: 100;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(171,171,171,1);
	-moz-box-shadow: 0px 2px 4px 0px rgba(171,171,171,1);
	box-shadow: 0px 2px 4px 0px rgba(171,171,171,1);
}

.overlay {
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	background-color: var(--color-light-grey);

	flex-direction: column;
	height: 100%;
}

.overlay-content {
	position: relative;
	width: 100%;
	margin-top: 14px;	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.overlay .mobile-link-item  {
	padding: 1.6vh 16px;
	text-decoration: none;
	font-size: var(--font-size-h2);
	color: var(--color-grey);
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	color: var(--color-grey-h3-bold);
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

@media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}
.current-menu {
	color: var(--color-primary-blue) !important;
	font-weight: bold;
}
.navbar-logo-mobile {
	max-height: 34px;
	margin-left: 16px;
	margin-right: 16px;
}
/*** END mobile menu ***/



/*** BEGIN navbar ***/
.navbar {
	height: 7vh;
	min-height: 60px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar img {
	height: 35px;
}
.navbar-logo {
	max-height: 25px;
	margin-left: 14px;
}
@media (max-width: 576px) {
	.navbar {
		height: 10vh;
	}
}
.toggle-mobile-menu-icon {
	
	cursor:pointer;
	color: var(--color-primary-blue) !important;
}
.toggle-mobile-menu-icon.open {font-size:26px;}
.toggle-mobile-menu-icon.close {font-size:38px;}
#menu-mobile-burger {
	display: none;
}
#menu-desktop-content {
	display: flex;
}
@media (max-width: 992px) {
	#menu-mobile-burger { display: block; }
	#menu-desktop-content { display: none; }
}

.desktop-link-item {
	padding: 1.6vh 16px;
	text-decoration: none;
	font-size: var(--font-size-h4);
	color: var(--color-grey);
	display: block;
	transition: 0.3s;
}
/*** END navbar ***/



/*** BEGIN header ***/
.header {
	background-color: var(--color-light-grey);
	padding: 2rem 0;
	width: 100%;
}
.header .container {
	display: flex;
	justify-content: space-between;
	margin-bottom: -100px;
}
@media (max-width: 1200px) {
	.header .container {
		margin-bottom: -60px;
	}
}
@media (max-width: 992px) {

}
@media (max-width: 992px){
	.header {
		padding: 0 0;
	}
	.header .container {
		flex-direction: column;
		margin-bottom: 0px;
	}
	.header-right {
		margin-bottom: -8rem;
	}
	.spacer {
		margin-bottom: 14rem;
	}
}
@media (max-width: 576px) {
	.header {
		padding: 2.8rem 0;
	}
	.spacer {
		margin-bottom: 8rem;
	}
}

.header-left {
	width: 55%;
}
.counter-header {
	margin-top: 1rem;
	font-size: var(--font-size-small);
	color: var(--color-light-grey-darker);
	font-weight: bold;
}
.hashtags-header {
	font-size: var(--font-size-small);
	color: var(--color-light-grey-darker);
	padding-right: 10px;
	font-weight: bold;
}
@media (max-width: 576px) {
	.header-left {
		padding-top: 10px;
		width: 95% !important;
		margin-top: -2rem !important;
	}
	.counter-header {
		margin-top: 0;
		margin-bottom: 1rem;
	}
}
.counter-group {
	margin-right: .8rem;
}



.header-right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 40%;
}
.header-image-wrapper {
	max-width: 430px;
	margin-left: auto;
}
.header-image-wrapper img {
	width: 100%;
}
@media (max-width: 993px) {
	.header .container {
		flex-direction: column;
	}
	.header-left {
		width: 100%;
	}
	.header-right {
		margin-top: 2rem;
		width: 100%;
		justify-content: flex-end;
	}
	.header-image-wrapper {
		width: 80%;
		margin-left: auto;
	}
	.header-image-wrapper img {
		margin-right: 0;
	}
}
/*** END header ***/



/*** BEGIN intro ***/
#intro {
	margin-top: 8rem;
}
@media (max-width: 768px) {
	#intro {
		margin-top: 10rem;
	}
}
.logo-EC {
	max-width: 250px;
}
.intro-patron {
	display: flex;
	align-items: center;
}
.intro-patron p {
	padding-right: 40px;
}
.text-patron-wrapper {
	width: 55%;
}
.img-patron-wrapper {
	width: 35%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.img-patron-wrapper div {
	width: 40%;
}
.img-patron-wrapper div img {
	max-height: 140px;
}
@media (max-width: 576px) {
	#intro {
		margin-top: 4rem;
	}
}
@media (max-width: 768px) {
	.intro-patron {
		flex-direction: column;
		align-items: flex-start;
	}
	.intro-patron p {
		padding-right: 0;
	}
	.text-patron-wrapper, .img-patron-wrapper {
		width: 100%;
	}
	.img-patron-wrapper { order: 1; margin-bottom: 38px; }
	.text-patron-wrapper { order: 2; }
	.img-patron-wrapper {
		justify-content: flex-start;
	}
}
.intro-infos-link {
	color: var(--color-grey);
	font-weight: bold;
	padding-bottom: 4px;
	border-bottom: 2px solid var(--color-grey);
}


.logo-parliament {
	max-width: 140px;
}


/* countries */
.country-flags {
	width: 75%;
}
.country-mobile { display: none; }
@media (max-width: 992px) {
	.country-flags {
		width: 100%;
	}
}
@media (max-width: 576px) {
	.logo-EC {
		max-width: 136px;
	}
	.intro-patron {
		flex-direction: column;
		align-items: flex-start;
	}
	.text-patron-wrapper {
		width: 100%;
	}
	.img-patron {
		max-width: 80px;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
	.country-flags {
		width: 100%;
	}
	.country-desktop { display: none; }
	.country-mobile { display: block; }
}

/* initiators */
.initiators-logo-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	margin-bottom: -1rem;
}
.initiators-logo img {
	width: 120px;
}
@media (max-width: 768px) {
	.initiators-logo img {
		width: 80px;
	}
}
/* description */
.description-container {
	display: flex;
	margin-top: 6rem;
}
.description-picture {
	width: 40%;
}
.description-content {
	width: 60%;
}
@media (max-width: 768px) {
	.description-container {
		margin-top: 3rem
	}
	.description-picture {
		display: none;
	}
	.description-content {
		width: 100%;
	}
}
.h2-description {
	display: flex;
	align-items: center;
}
.h2-description-icon {
	max-width: 24px;
}
.description-p {
	margin-left: 30px;
}
/*** END intro ***/



/*** BEGIN categories ***/
.categories {
	margin-top: 3rem;
	padding: 30px 0px;
	min-height: 350px;
	background-color: var(--color-primary-blue);	
	display:flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 80px;
}
@media (max-width: 768px) {
	.categories {
		margin-top: 1rem;
	}
}
.categories h2 {	
	color: white;
}

.categories h4 {
	display: inline-block;
	color: white;
	text-decoration: underline;
	white-space: nowrap;
}

.category {
	display:inline-block;
	margin-top:auto;
	padding: 40px 0px 40px 0px;
}

.category-image {
	position:relative;
	width: 120px;
	height: 120px;
	border-radius: 20px;
	z-index: 0;
}

.category-button {	
	position:relative;
	z-index: 1;
	width: 150px;
	height: 60px;
	background-color: var(--color-primary-blue);
	border-radius: 20px;
	margin-top: -25px;
	margin-left: 10px;
	font-size: 1rem;
	color: white;
	overflow-y: hidden;
	padding: 10px;
}

.category-open-all {
	height: 40px;
	overflow-y: hidden;
	padding-bottom: 10px;
}

@media (max-width: 576px){
	.categories {
		padding-top: 40px;
	}
	.category {
		padding: 40px 20px 0px 20px;
	}
	.category-image {
		width: 90px;
		height: 90px;
	}
	.category-button {
		width: 90px;
	}
	.category-open-all {
		width: 140px;
		overflow: hidden;
	}
}


/*** END categories ***/


/*** BEGIN how-can-you-help ***/
.how-can-you-help {

}

.how-can-you-help h2 {
	margin-bottom: 40px;
}

.how-can-you-help h3 {
	font-style: italic;
	margin-bottom: 20px;
}

.how-can-you-help p {
	font-size: var(--font-size-p);
	margin-bottom: 20px;
	min-height: 100px;
}

.how-can-you-help-row {
	display: flex;
	flex-direction: row;	
}

.how-can-you-help-column {
	padding: 0px 80px 0px 0px;
	width: 30%;
}
.how-can-you-help-column p {
	min-height: 150px;
}
.how-can-you-help .secondary-button {
	font-size: 1rem;
	padding: 8px 25px;
	margin-bottom: 2px;
}
@media (max-width: 992px){
	.how-can-you-help-row {
		flex-direction: column;
	}
	.how-can-you-help-column {
		margin-top: 20px;
		width: 100%;
		padding: 0;
	}
	.how-can-you-help h2 {
		margin-bottom: 10px;
	}
	.how-can-you-help .secondary-button {
		padding: 8px 25px;
		font-size: 0.9rem;
		font-weight: bold;
		max-width: 300px;
		display: block;
	}
	.how-can-you-help p {
		min-height: 0;
	}
}
/*** END how-can-you-help ***/



/*** BEGIN Agenda  ***/
.agenda {
	margin-top: 6rem;
}
.agenda-image.desktop {
	max-width: 960px;
}
.agenda-image.mobile {
	display: none;
	max-width: 320px;
}
@media (max-width: 768px){
	.agenda {
		margin-top: 5rem !important;
	}
	.agenda-image.mobile {
		display: block;		
		width: 80%;
	}
	.agenda-image.desktop{
		display: none;
	}
}


/*** BEGIN faq ***/
.faq {
	background-color: var(--color-light-grey);
	padding-bottom: 100px;	
}

.faq h1 {
	padding-top: 5rem;
	color: var(--color-grey-h3-normal) !important;
}

.faq h2 {
	margin-top: 5rem;
}

.faq h3 {
	margin-top: 3rem;
}

.faq hr {
	margin-top: 10px;
	background-color: var(--color-grey-h3-normal);
}

.faq p {
	width: 80%;
	margin-top: 1rem;
	color: var(--color-grey-h3-normal);
}

@media (max-width: 992px){
	.faq .p {
		width: 100%;
	}
}


/*** BEGIN footer ***/
footer {
	background-color: var(--color-light-grey);
	min-height: 60px;
	padding-bottom: 2rem;
}
.footer-left {
	align-items: center;

}
.footer-hashtag {
	max-width: 124px;
}
footer ul {
	list-style:none;
	padding: 0;
	margin-left: 3rem;
}
footer ul li {
	display: inline;
	margin-right: 28px;
}
footer ul li a { 
	font-size: var(--font-size-a);
}
@media (max-width: 576px){
	.footer-left {
		flex-direction: column;
		align-items: flex-start;
	}
	footer ul {
		margin-left: 0rem;
	}
}
/*** END footer ***/




/*** Helpers ***/
.mt-1 {
	margin-top: 0.25rem !important;
}
.mt-2 {
	margin-top: 0.5rem !important;
}
.mt-3 {
	margin-top: 1rem !important;
}
.mt-4 {
	margin-top: 1.5rem !important;
}
.mt-4-5 {
	margin-top: 2.25rem !important;
}
.mt-5 {
	margin-top: 3rem;
}
.mt-6 {
	margin-top: 6rem !important;
}
.mt-8 {
	margin-top: 10rem !important;
}
.mb-1 {
	margin-bottom: 0.25rem !important;
}
.mb-2 {
	margin-bottom: 0.5rem !important;
}
.mb-3 {
	margin-bottom: 1rem !important;
}
.mb-4 {
	margin-bottom: 1.5rem !important;
}
.mb-5 {
	margin-bottom: 3rem !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}

.pt-1 {
	padding-top: 0.25rem !important;
}
.pt-2 {
	padding-top: 0.5rem !important;
}
.pt-3 {
	padding-top: 1rem !important;
}
.pt-4 {
	padding-top: 1.5rem !important;
}
.pt-5 {
	padding-top: 3rem !important;
}
.pt-6 {
	padding-top: 6rem !important;
}
.pb-1 {
	padding-bottom: 0.25rem !important;
}
.pb-2 {
	padding-bottom: 0.5rem !important;
}
.pb-3 {
	padding-bottom: 1rem !important;
}
.pb-4 {
	padding-bottom: 1.5rem !important;
}
.pb-5 {
	padding-bottom: 3rem !important;
}

.d-none {
	display: none !important;
}
.d-flex {
	display: flex !important;
}
.d-block {
	display: block !important;
}
.align-items-center {
	align-items: center !important;
}
.space-between {
	justify-content: space-between !important;
}
@media (max-width: 768px){
	.d-none-mobile {
		display: none !important;
	}
}


/*** Tooltip ***/
.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	font-size: small !important;
	font-weight: 500;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.tooltip-bottom {
	bottom: -45px !important;
}

.tooltip-bottom::after {
	top: -9px !important;
	transform: rotate(180deg) !important;
}
